/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "jquery-ui";
@import "font-awesome";

body {
  font-family: 'proxima-nova';
  background-color: #E0F6FE;
  color: #5a5a5a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: proxima-nova, Helvetica, Arial, sans-serif;
}

.opie-color {
  color: #00bbf9;
}

.opie-secondary-btn {
  color: #2196f3;
  background-color: transparent;
  border-color: transparent;
  transition: .3s;
}

.opie-secondary-btn:hover {
  color: #0095c6;
}

.save-btn {
  color: white;
  background-color: #2196f3;
  border-color: #2196f3;
  transition: .3s;
}

.save-btn:hover {
  color: white;
  background-color: #00bbf9;
}

.shadow-btn {
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.secondary-opie-color {
  color: #6eb312;
}

.opie-form-top-background {
  background-color: #56a0ae;
}

.card-shadow {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-color: transparent;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-form {
  border-top: 8px solid #8ee1fc;
  padding: 0px;
}

.card {
  background-color: white;
  padding: 15px;
  padding-top: 7px;
}

.img-small {
  height: 50px;
  width: 50px;
}

.img-blur-remove {
  border-radius: 5px;
  transition: 0.3s;
  opacity: 0.7
}

.img-blur-remove:hover {
  opacity: 1.0;
}

.img-raise {
  border-radius: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-highlight {
  border-top: 1px solid transparent;
  transition: .3s;
  border-bottom: 1px solid transparent;

}

.card-highlight:hover {
  border-top: 1px solid rgba(204, 204, 204, 0.25);
  border-bottom: 1px solid rgba(204, 204, 204, 0.25);
}

.form-flatline-240 {
  max-width: 240px;
  border: 0px solid #ccc;
  border-radius: 0px;
  border-bottom: 1px solid #ccc;
  transition: .2s;
  box-shadow: none;
}

.form-flatline-240:active {
  border: 0px solid #ccc;
  border-bottom: 2px solid #00bbf9;
}

.form-flatline-240:focus {
  border-color: transparent;
  border-bottom: 2px solid #00bbf9;
  box-shadow: none;
}

.form-flatline-415 {
  max-width: 415px;
  border: 0px solid #ccc;
  border-radius: 0px;
  border-bottom: 1px solid #ccc;
  transition: .2s;
  box-shadow: none;
}

.form-flatline-415:active {
  border: 0px solid #ccc;
  border-bottom: 2px solid #00bbf9;
}

.form-flatline-415:focus {
  border-color: transparent;
  border-bottom: 2px solid #00bbf9;
  box-shadow: none;
}

.stopwatch {
  display: inline-block;
  background-color: white;
  padding: 5px;
  margin: 5px;
  font-size: -webkit-xxx-large;
  text-align: center;
}
.stopwatch span {
  font-weight: bold;
  display: block;
}

.stopwatch a {
  padding: inherit;
  text-decoration: none;
  color: #0095c6;
  font-size: large;
}


